sqlalchemy
psycopg[binary]
Flask
python-dotenv
Jinja2
Werkzeug
pytest
pytest-asyncio
pytest-cov
graypy
pgvector
gunicorn
librosa
soundfile
Flask-Cors
Flask-SocketIO
lxml
MarkupSafe
matplotlib
mkl
mpmath
networkx
numpy
packaging
pillow
primp
psutil
pyparsing
python-dateutil
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
six
sympy
tbb
threadpoolctl
tokenizers
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
tqdm
transformers
typing_extensions
urllib3
